.footer {
  padding: 21px 0;
  background-color: $color-1;

  &__inner {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__descr-link {
    font-size: 12px;
    line-height: 1.25;
    color: $color-3;
    position: relative;
    transition: all .3s;

    &:hover::after{
      content: '';
      width: 187px;
      height: 1px;
      background-color: $color-3;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &__social-box {
    display: flex;
    align-items: center;
    gap: 29px;
  }
}

.box-contacts {

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;

    & + &{
      margin-top: 15px;
    }

    & > .box-contacts__tel > .box-contacts__link:hover::after{
      width: 110px;
    }
  }

  &__link {
    display: block;
    font-size: 12px;
    line-height: 1.25;
    color: $color-3;
    position: relative;

    &:hover::after{
      content: '';
      width: 152px;
      height: 1px;
      background-color: $color-3;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
// =================
@media (max-width: 640px) {
  .footer__inner{
    flex-direction: column;
    gap: 60px;
  }
}
